/********** reset style *********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    outline: none;
}
/************  ************/


    :root {
        --color-main: #2B4248;
        --color-subtitle: #767676;
        --color-number:  #4E4E4E;
        --color-white: #fff;
        --color-pink: #F1AAAC;
        --font-JosefinSans: 'Josefin Sans', sans-serif;
        --font-Junge: 'Junge', serif;
    }

    .wrapper {
        position: relative;
        max-width: 1759px;
        margin: 0 auto;
    }

    .wrapper__section {
        max-width: 1400px;
        margin: 0 auto;
    }

    .section__number {
        margin-bottom: 5px;
        font-weight: 200;
        font-size: 18px;
        line-height: 23px;
        color: var(--color-number);
    }

    .section__title {
        margin-bottom: 76px;
        font-family: var(--font-Junge);
        font-weight: 200;
        font-size: 60px;
        line-height: 78px;
    }
/************  ************/


body {
    display: block;
    overflow-x: hidden;
    font-family: var(--font-Junge);
    font-family: var(--font-JosefinSans);
    font-weight: 400;
    color: var(--color-main);
    font-size: 16px;
    box-sizing: border-box; 
}

/*********** main style ***********/

/* header start */

.header {
    padding: 48px 0;
    background-color: #fff;
}

.header__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1759px;
    margin: auto;
    background-color: #fff;
}

.header__fixed {
    z-index: 1000;
    position: sticky;
    top: 0;
}

.header__nav {
    max-width: 1088px;
    display: flex;
    align-items: center;
    margin-right: 86px;   
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 55px;
}

.nav__dropDown:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../images/header/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nav__item-link {
    position: relative;
    text-transform: uppercase;
}

.nav__item-link:after{
    content: '';
    position: absolute;
    width: 100%;
    height: .120rem;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    background-color: var(--color-main);
    transition: transform 0.4s ease-out;
}

.nav__item-link:hover:after  {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__dropDown {
    position: relative;
}

.nav__dropDown:hover .sub__list {
    display: block;
}

.sub__list {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-white);
    transition: all .3s ease-in-out;
}

.sub__list-item {
    display: block;
    padding: 10px;
}

.sub__list-item a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: .120rem;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    background-color: var(--color-main);
    transition: transform 0.4s ease-out;
}

.sub__list-item a:hover:after  {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sub__list-item:first-child {
    margin-top: 10px;
}

.sub__list-item a {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
}

.nav__dropDown-item {
    text-transform: uppercase;
}

.nav__btn {
    position: absolute;
    width: 31px;
    height: 9px;
    right: 10px;
    border: none;
    border-top: 2px solid var(--color-main);
    border-bottom: 2px solid var(--color-main);
    cursor: pointer; 
}
/* header end */

/* contact start */

main {
    margin-top: 163px;
}

.contact {
    margin-bottom: 95px;
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 488px;
    text-align: center;
}

.contact__block-title {
    position: relative;
    margin-bottom: 4px;
    font-family: var(--font-Junge);
    font-weight: 200;
    font-size: 90px;
    line-height: 103px;
}

.first__title:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 147px;
    height: 147px;
    left: -250px;
    top: 25px;
    transform: translateY(-60%);
    background-color: #F1EAE4;
    border-radius: 50%;
}

.contact__block-text {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.contact__block-text a {
    transition: all .2s ease-in-out;
}

.contact__block-text a:hover {
    color: var(--color-main);
}

.contact__block-text:not(:last-child) {
    margin-bottom: 7px;
}

.contact__block-email {
    transition: all .2s ease-in-out;
}

.contact__block-email:hover {
    color:var(--color-main);
}

.contact__line {
    margin: 70px 0;
    width: 100%;
    max-width: 880px;
    height: 2px;
    background-color: rgba(185, 185, 185, 1);
}
/* contact end */

/* form start */

.form {
    background-image: url(../images/SecContact/form/form__background.png);
    background-position: no-repeat;
    background-position: center;
    margin-bottom: 295px;
}

.form__wrapper {
    display: flex;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: 731px;
    max-width: 879px;
    margin-top: 653px;
    margin-bottom: 111px;
    padding: 10px;
    background-color: var(--color-white);
}

.form__name {
    position: relative;
    width: 100%;
    max-width: 573px;
    height: 45px;
    font-size: 22px;
    color: var(--color-main);
    border-bottom: 2px solid var(--color-main);
}

.form__name::placeholder {
    position: absolute;
    bottom: 15px;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.form__email {
    position: relative;
    width: 100%;
    max-width: 573px;
    height: 45px;
    font-size: 22px;
    color: var(--color-main);
    border-bottom: 2px solid var(--color-main);
}

.form__email::placeholder {
    position: absolute;
    bottom: 15px;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.form__massage {
    position: relative;
    width: 100%;
    max-width: 573px;
    min-height: 145px;
    font-size: 22px;
    color: var(--color-main);
    border: none;
    resize: none;
    border-bottom: 2px solid var(--color-main);
}

.form__massage:focus,:active {
    outline: none;
}

.form__massage::placeholder  {
    position: absolute;
    bottom: 110px;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 74px;
    background-color: var(--color-main);
    border: none;

    font-size: 18px;
    line-height: 23px;
    color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
}

.form__btn:after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 7px;
    margin-left: 11px;
    background-image: url(../images/SecContact/form/arrow__logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s ease-in-out;
}

.form__btn:hover:after{
    margin: 0;
}   
/* form end */

/* footer start */

.footer__logo {
    width: 230px;
    height: 45px;
    background-image: url(../images/footer/footer__logo.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.footer__block-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 1266px;
    margin-bottom: 128px;
}

.footer__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}

.footer__list-link {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.315em;
}

.footer__list-link:before{
    content: "";
    position: absolute;
    width: 95%;
    height: .120rem;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    background-color: var(--color-main);
    transition: transform 0.4s ease-out;
}

.footer__list-link:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 10px;
}

.footer__connect {
    max-width: 339px;
}

.footer__social {
    display: flex;
    justify-content: space-between;
    max-width: 161px;
    margin-bottom: 19px;
}

.footer__social-item {
    transition: all .2s ease-in-out;
}

.footer__social-item:hover {
    transform: scale3d(130%, 130%, 130%);
}

.footer__social-link {
    font-weight: 500;
    font-size: 25px;
    line-height: 32px; 
}

.footer__adress {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.footer__number {
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.footer__number:hover a {
    color: var(--color-number);
}

.footer__email {
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.footer__email:hover a {
    color: var(--color-number);
}

.footer__utility {
    width: 213px;
}

.footer__list__title {
    margin-bottom: 19px;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
}

.fototer__list-link {
    position: relative;
    font-size: 22px;
    line-height: 47px;
    color: var(--color-subtitle);
}

.fototer__list-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: .120rem;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    background-color: var(--color-subtitle);
    transition: transform 0.4s ease-out;
}

.fototer__list-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer__talk {
    max-width: 572px;
}

.footer__talk-title {
    max-width: 448px;
    margin-bottom: 19px;
    font-family: var(--font-Junge);
    font-size: 35px;
    line-height: 45px;
}

.footer__talk-form {
    display: flex;
    align-items: center;
    max-width: 572px;
}

.form__text {
    width: 66%;
    height: 74px;
    border-bottom: 1px solid var(--color-main);
    font-size: 18px;
    line-height: 23px;
    color: var(--color-main);
}

.form__text::placeholder {
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.footer__btn {
    width: 190px;
    height: 74px;
    border: none;
    background-color: var(--color-main);
    font-size: 18px;
    line-height: 23px;
    color: var(--color-white);
    cursor: pointer;
}

.footer__btn:after{
    content: "";
    display: inline-block;
    width: 22px;
    height: 7px;
    margin-left: 11px;
    background-image: url(../images/footer/footer__aroow.svg);
    transition: all .2s ease-in-out;
}

.footer__btn:hover:after {
    margin-left: 0;
}

.footer__line {
    max-width: 1400px;
    height: 1px;
    margin-bottom: 34px;
    background-color: #C2C2C2;
}

.footer__copy {
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    color: var(--color-subtitle);
}

.footer__copy span {
    color: var(--color-main);
}
/* footer end */